<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>

		<% include ../css.ejs %>

	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navCollapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><%= title %></a>
				</div>
				<div class="collapse navbar-collapse" id="navCollapse">
					<% include ../nav.ejs %>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="panel panel-default wrapper col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
					<div class="panel-body">